body { background-color: #ffe18c;
    font-family: Candara, Helvetica, sans-serif; 
    margin: 0;
}

#header {
    width: 100%;
    height: 160px;
    padding-top: 10px;
    background-color: orange;
}

#logo {
    width: 425px;
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -220px;
}

#logoImg {
    width:70px;
    height: 70px;
    float: left;
}

#tituloLogo {
    float: left;
    margin: 0;
    font-size: 60px;
}

#titulolema {
    float:left;
    margin: 0;
    font-size: 60px;
}

#menu {
    width: 100%;
    background-color:orange;
    font-size:20px;
}

.listaMenu {
    width: 450px;
    position: relative;
    left: 15%;
    margin-left: -200px;

  
}

.listaMenu li {
    display: inline-block;
    margin-top:-10px;
   
}

.listaMenu li a {
    text-decoration: none;
    height: 35px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e50021;

}

.listaMenu li a:link,
.listaMenu li a:visited {
    color: white;
    background-color: #e50021;
}

.listaMenu li a:hover {
    color: #e50021;
    background-color: white;
}

#menuAtual:link,
#menuAtual:visited {
    text-transform: uppercase;
    font-weight: bold;
}

#content {
    width: 700px;
    background-color: white;
    position:relative;
    left: 50%;
    margin-left: -350px;
}

#promotionBanner {
    height: 400px;
    width: 700px;
  background-image: url(./images/hamburguer-batata-frita-1117-1400x800-750x428.jpg);
}

#promocaoH1 {
    color: white;
    font-size: 70px;
    margin: 0;
    margin-left: 20px;
    position: absolute;
    text-shadow: 6px 2px 4px #e50021;
}

#promocaoValor {
    color: beige;
    font-size: 48px;
    margin: 0;
    position: relative;
    text-shadow: 6px 3px 4px #e50021;
    left: 180px;
    top: 325px;
    width:500px;
}

#tituloConteudo {
    color: #e50021;
    text-align: center;
    margin-bottom: 10px;
}

#areaProdutos table {
    border-spacing: 30px;
    border-collapse: separate;
    text-align: center;
}

#areaProdutos td {
    width: 300px;
    color: #e50021;
    font-size: 20px;
}

#areaProdutos td img {
    width: 150px;
    height: 150px;
    margin-top: 5px;
    border-radius: 50%;
    border: 2px solid #e50021;
}

.tituloProduto {
    font-weight: bold;
    margin: 0;
}

.precoProduto {
    margin: 0;
} 

#entrega {
    position: fixed;
    bottom: 30px;
    right: 10px;
    height: 100px;
    width: 300px;
}

#entrega img {
    border-radius: 50%;
    border: 3px solid #e50021;
}

#tel {
    position: absolute;
    left: 120px;
    height: 75px;
    background-color: #e50021;
    color: white;
    margin-top: 13px;
    padding: 10px;
    padding-bottom: 0;
    border-radius: 15px;
}

#tel h4 {
    margin: 0;
    font-size: 28px;
}

#tel h5 {
    margin: 0;
    margin-top: 10px;
}

#tel a {
    color: white;
    text-decoration: none;
}










